<div class='header'>
  {{page.header}}
</div>
{% if page.featured %}
<div class='featured'>
  {{page.featured}}
</div>
{% endif %}
<div class='content'>
  {{page.content}}
</div>
{% if page.footer %}
<div class='footer'>
  {{page.footer}}
</div>
{% endif %}
